<nav>
    <div class="nav__items">
        <div class="nav__logo">
        <p class="logo">
            <img src="assets/images/logo.png"/>
        </p>
    </div>
    <ul class="nav__menu">
        <li class="nav__item"><a href="/">home</a></li>
        <li class="nav__item"><a href="allusers">users</a></li>
    </ul>
    </div>
 
</nav>